<launch>

  <arg name="name" default="Dopey"/>
  <arg name="model" default="Quadrotor$(arg name)"/>
  <arg name="home_path" default="/home/sytang/catkin_multirobot/src/quadrotor_exp_launch/ICRA2018/"/>
  <arg name="sim" default="1"/>
  <arg name="mass" default="0.6650"/>
  <arg name="zigbee" default="1"/>
  <!-- Use camera for feedback or not -->
  <arg name="use_vision_feedback" default="false"/>
  <arg name="payload_feedback" default="true"/>
  <!-- Track with camera or not -->
  <arg name="use_camera" default="false"/>
  <arg name="filter_velocities" default="false"/>

  <!-- VICON --> 
  <include file="$(find quadrotor_exp_launch)/ICRA2018/vicon.launch" unless="$(arg sim)">
    <arg name="model" value="$(arg model)" /> 
  <!--arg name="vicon_fps" value="100"/-->
  </include>

  <group ns="$(arg model)">
  
    <param name="mass" value="$(arg mass)"/>

    <node name="vicon_publisher"
      type="vicon_publisher"
      pkg="whycon"
      output="screen">

      <param name="vicon_quad_topic" value="odom_quadrotor"/>
      <param name="vicon_payload_topic" value="odom_payload"/>
      <param name="transform_to_world_frame" type="bool" value="true"/>
      <param name="publish_observ_dir" type="bool" value="true"/>
      <param name="filter_velocities" type="bool" value="$(arg filter_velocities)"/>
      <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/hummingbird_params.yaml"/>

      <remap from="~odom_quadrotor" to="odom_quadrotor"/>
      <remap from="~odom_payload" to="odom_payload"/>
    
      <remap from="~relative_pos" to="relative_pos" unless="$(arg use_camera)"/>
      <remap from="~odom_payload_vicon" to="odom_vicon_synced"/>
    </node>

    <!-- SIMULATOR --> 
    <group if="$(arg sim)">
    <node pkg="quadrotor_simulator"
      type="quadrotor_simulator_so3"
      name="quadrotor_simulator_so3"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/hummingbird_params.yaml"/>
      <param name="rate/odom" type="double" value="100.0"/>
      <remap from="~odom" to="odom_quadrotor"/>
      <remap from="~odom_payload" to="odom_payload"/>
      <remap from="~odom_internal" to="odom_internal"/>
      <remap from="~imu" to="imu"/>
      <remap from="~cmd" to="so3_cmd"/>
    </node>
    </group>

    <node pkg="payload_visualization"
      type="pointload_visualization"
      name="payload_visualization"
      output="screen">
      <param name="mesh_resource" value="package://mesh_visualization/mesh/hummingbird.mesh"/>
      <param name="color/r" value="0.0"/>
      <param name="color/g" value="0.0"/>
      <param name="color/b" value="1.0"/>
      <param name="color/a" value="0.7"/>
      <param name="radius_payload" value="0.2"/>
      <remap from="~input" to="odom_internal"/>
    </node>

    <node pkg="traj_quadrotor"
      type="trajectory_visualization"
      name="trajectory_visualization"
      output="screen">
      <remap from="~input" to="current_traj"/>
      <remap from="~unpublish_traj" to="unpublish_traj"/>
      <param name="sample_rate" value="0.5"/>
    </node>

    <!-- CONTROLLER --> 
    <node pkg="nodelet"
      type="nodelet"
      name="standalone_nodelet"
      args="manager"
      output="screen"/>

    <node pkg="nodelet"
        type="nodelet"
        name="trackers_manager"
        args="load trackers_manager/TrackersManager standalone_nodelet"
        output="screen">
        <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/trackers.yaml"/>
        <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/$(arg model)_gains.yaml"/>
        <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/hummingbird_params.yaml"/>
        <param name="default_v_des" value="3.0"/>
        <param name="default_a_des" value="1.0"/>
        <param name="use_whycon" type="bool" value="$(arg use_vision_feedback)"/>
        <param name="payload_feedback" type="bool" value="$(arg payload_feedback)"/>

        <remap from="~odom_payload_vicon" to="odom_payload"/>
        <remap from="~odom_quadrotor" to="odom_quadrotor"/>
        <remap from="~odom_payload_estimate" to="odom_payload_estimate"/>

        <remap from="~cmd_payload" to="position_cmd_payload"/>
        <remap from="~cmd_quadrotor" to="position_cmd_quadrotor"/>

        <remap from="~trajectory_tracker_coeffs/current_traj" to="current_traj"/>
        <remap from="~trajectory_tracker_coeffs/unpublish_traj" to="unpublish_traj"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      args="load so3_control/SO3ControlNodelet standalone_nodelet"
      name="so3_control"
      required="true"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/hummingbird_params.yaml"/>
      <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/$(arg model)_gains.yaml"/>

      <remap from="~odom" to="odom_quadrotor"/>
      <remap from="~position_cmd" to="position_cmd_quadrotor"/>
      <remap from="~motors" to="motors"/>

      <remap from="~so3_cmd" to="so3_cmd"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      args="load so3_control/PointloadSO3Nodelet standalone_nodelet"
      name="pointload_so3_control"
      required="true"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/$(arg model)_gains.yaml"/>
      <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/hummingbird_params.yaml"/>
      <param name="use_whycon" type="bool" value="$(arg use_vision_feedback)"/>
      <param name="quadrotor_name" value="Quadrotor$(arg name)"/>
      <param name="use_feedforward" type="bool" value="true"/>

      <remap from="~odom_vision" to="odom_estimate" if="$(arg use_vision_feedback)"/>
      <remap from="~odom_vicon" to="odom_vicon_synced"/>
      <remap from="~position_cmd_payload" to="position_cmd_payload"/>
      <remap from="~motors" to="motors"/>

      <remap from="~so3_cmd" to="so3_cmd"/>
    </node>

    <!-- ESTIMATOR --> 
    <!-- <node pkg="nodelet"
      type="nodelet"
      name="PayloadEstimatorNodelet"
      args="load payload_estimator/PayloadEstimatorNodelet standalone_nodelet"
      output="screen">
      <rosparam file="$(find payload_so3_control)/config/$(arg quad_name).yaml"/>
      <param name="get_IMU_offset" value="$(arg get_IMU_offset)"/>

      <remap from="~odom_quadrotor" to="odom_quadrotor"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~relative_pos" to="relative_pos"/>
      <remap from="~imu" to="quad_decode_msg/imu"/>
    
      <remap from="~odom_estimate" to="odom_estimate"/>
      <remap from="~odom_payload_estimate" to="odom_payload_estimate"/>
    </node> -->

    <!-- COMMUNICATION --> 
    <include file="$(find quadrotor_exp_launch)/ICRA2018/robot_comms.launch" unless="$(arg sim)">
      <arg name="zigbee" value="$(arg zigbee)"/>
      <arg name="baud_rate" value="57600"/>
    </include>

    <!-- MANAGER --> 
    <node pkg="traj_quadrotor"
      type="trajectory_services"
      name="mav_services"
      clear_params="true"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ICRA2018/config/mav_manager_params.yaml" />
      <param name="home_path" value="$(arg home_path)"/>
      <remap from="odom" to="odom_quadrotor"/>
    </node>

  </group>
</launch>

