<launch>

  <arg name="name"/>
  <arg name="home_path" default=""/>
  <arg name="sim" default="1"/>
  <arg name="mass"/>
  <arg name="zigbee" default="1"/>
  <arg name="initial_position_payload/x"/>
  <arg name="initial_position_payload/y"/>
  <arg name="initial_position_payload/z"/>

  <group ns="Quadrotor$(arg name)">
  
    <param name="mass" value="$(arg mass)"/>

    <!-- simulation things --> 
    <group if="$(arg sim)">
    <node pkg="quadrotor_simulator"
      type="quadrotor_simulator_so3"
      name="quadrotor_simulator_so3"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ISRR2017/config/hummingbird_params.yaml"/>
      <param name="rate/odom" value="100.0"/>
      <remap from="~odom" to="odom"/>
      <remap from="~odom_internal" to="odom_internal"/>
      <remap from="~imu" to="imu"/>
      <remap from="~cmd" to="so3_cmd"/>
      <remap from="~odom_payload" to="/vicon/Payload$(arg name)/odom"/>
      <param name="initial_position_payload/x" value="$(arg initial_position_payload/x)"/>
      <param name="initial_position_payload/y" value="$(arg initial_position_payload/y)"/>
      <param name="initial_position_payload/z" value="$(arg initial_position_payload/z)"/>
    </node>
    </group>

    <node pkg="payload_visualization"
      type="pointload_visualization"
      name="payload_visualization"
      output="screen">
      <param name="mesh_resource" value="package://mesh_visualization/mesh/hummingbird.mesh"/>
      <param name="color/r" value="0.0"/>
      <param name="color/g" value="0.0"/>
      <param name="color/b" value="1.0"/>
      <param name="color/a" value="0.7"/>
      <param name="radius_payload" value="0.2"/>
      <remap from="~input" to="odom_internal"/>
    </node>

    <node pkg="traj_quadrotor"
      type="trajectory_visualization"
      name="trajectory_visualization"
      output="screen">
      <remap from="~input" to="current_traj"/>
      <remap from="~unpublish_traj" to="unpublish_traj"/>
      <param name="sample_rate" value="0.5"/>
    </node>

    <!-- controller things --> 
    <node pkg="nodelet"
      type="nodelet"
      name="standalone_nodelet"
      args="manager"
      output="screen"/>

    <node pkg="nodelet"
      type="nodelet"
      name="trackers_manager"
      args="load trackers_manager/TrackersManager standalone_nodelet"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ISRR2017/config/trackers.yaml"/>
      <rosparam file="$(find quadrotor_exp_launch)/ISRR2017/config/QuadrotorVictor_gains.yaml"/>
      <rosparam file="$(find quadrotor_exp_launch)/ISRR2017/config/hummingbird_params.yaml"/>
      <param name="default_v_des" value="0.2"/>
      <param name="default_a_des" value="0.3"/>
      <remap from="~odom" to="odom"/>
      <remap from="~cmd" to="position_cmd"/>
      <remap from="~trajectory_tracker_coeffs/current_traj" to="current_traj"/>
      <remap from="~trajectory_tracker_coeffs/unpublish_traj" to="unpublish_traj"/>
      <remap from="~pointload_ff_tracker/current_traj" to="current_traj"/>
      <remap from="~pointload_ff_tracker/unpublish_traj" to="unpublish_traj"/>
      <remap from="~pointload_ff_tracker/traj_cmd_echo" to="position_cmd_echo"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      args="load so3_control/SO3ControlNodelet standalone_nodelet"
      name="so3_control"
      required="true"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ISRR2017/config/QuadrotorVictor_gains.yaml"/>
      <remap from="~odom" to="odom"/>
      <remap from="~odom_payload" to="odom_payload"/>
      <remap from="~position_cmd" to="position_cmd"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~motors" to="motors"/>
    </node>

    <!-- communication --> 
    <include file="$(find quadrotor_exp_launch)/ISRR2017/single_robot/robot_comms.launch" unless="$(arg sim)">
      <arg name="zigbee" value="$(arg zigbee)"/>
      <arg name="baud_rate" value="57600"/>
    </include>

    <!-- manager --> 
    <node pkg="traj_quadrotor"
      type="trajectory_services"
      name="mav_services"
      clear_params="true"
      output="screen">
      <rosparam file="$(find quadrotor_exp_launch)/ISRR2017/config/mav_manager_params.yaml" />
      <param name="home_path" value="$(arg home_path)"/>
    </node>

  </group>
</launch>

