<launch>

  <node pkg="mocap_vicon"
    type="mocap_vicon_node"
    name="vicon"
    output="screen">
    <param name="server_address" value="mocap"/> <!-- mocap, lev: 192.168.129.74 --> 
    <param name="frame_rate" value="100"/>
    <param name="max_accel" value="10.0"/>
    <param name="publish_tf" value="false"/>
    <param name="fixed_frame_id" value="mocap"/>
    <rosparam param="model_list">[]</rosparam>
    <remap from="vicon/QuadrotorTango/odom" to="QuadrotorTango/odom"/>
    <remap from="vicon/QuadrotorVictor/odom" to="QuadrotorVictor/odom"/>
    <remap from="vicon/QuadrotorHappy/odom" to="QuadrotorHappy/odom"/>
    <remap from="vicon/QuadrotorSneezy/odom" to="QuadrotorSneezy/odom"/>
    <remap from="vicon/QuadrotorUniform/odom" to="QuadrotorUniform/odom"/>
    <remap from="vicon/QuadrotorXray/odom" to="QuadrotorXray/odom"/>
    <remap from="vicon/QuadrotorWhiskey/odom" to="QuadrotorWhiskey/odom"/>
    <remap from="vicon/QuadrotorDopey/odom" to="QuadrotorDopey/odom"/>
    <remap from="vicon/QuadrotorGrumpy/odom" to="QuadrotorGrumpy/odom"/>

  </node>
</launch>